@font-face {
    font-family: 'Estonia';
    src: url('Estonia-Regular.ttf') format('truetype'); 
  }  

body {
    background-color: rgb(250, 196, 245);
    font-family : Estonia;
    font-size : 25px;
} 

main {
    display : flex;
    flex-direction : column;
}

/*______________ Header ______________*/

header {
    display : flex;
    flex-direction: row;
    justify-content:  flex-end;
    align-items: flex-end;
    gap : 20px;
    padding : 30px;
}

.deco {
    border:none;
    font-family : monospace;
    font-size: 15px;
    background-color : none;
    padding-bottom : 5px; 
    transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
    transition-duration: 100ms;
    padding-bottom:10px;
    padding-top:10px;
}

.deco:hover {
    background-color : rgb(202, 202, 202);
}

.decoform {
    border:none;
    font-family : monospace;
    font-size: 15px;
}

header a {
    font-family: monospace;
    text-decoration: none;
    font-size : 17px;
    color:white;
    transition-timing-function: ease-in-out;
    transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
    transition-duration: 300ms;
    padding-bottom : 10px;
}

a:hover {
    color:black;
}

a:visited {
    color:white;
}

a:visited:hover {
    color:black;
}

/*______________ Index ______________*/

.title{
    display : flex;
    flex-direction: column;
    justify-content:  center;
    align-items:center;
    height: 400px;
    padding-bottom: 200px;
    font-size : 70px;   

}

.square {
    z-index:2;
    margin-left : 1%;
    animation: blinker 2s linear infinite;
    bottom : 0;
    position: fixed;
    margin-bottom :20px; 
}

/*______________ Inscription ______________*/

.tsignin{
    display : flex;
    flex-direction: column;
    justify-content:  center;
    align-items:center;
    height: 200px;
    font-size : 65px;   

}

.myform {
    display : flex;
    flex-direction: column;
    justify-content:  center;
    align-items:center;
    background-color : rgb(173, 174, 252);
    width : 500px;
    padding : 10px;
    font-size : 25px;
}

/*______________ User profile page ______________*/

.container{
    display : flex;
    flex-direction: row;
    justify-content:  center;
    align-items:center;
    background-color : rgb(173, 174, 252);

}

.myform2 {
    display : flex;
    flex-direction: column;
    justify-content:  center;
    align-items:center;
    width : 400px;
    padding : 10px;
    height : 200px;
}

#update{
    text-align : center;
    color : white;  
    font-weight : bold;
    font-size : 30px;
}

/*______________ Planning ______________*/

.pContainer{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height : 600px;
    font-family : monospace;
    font-size: 20px;
}

.planning{
    align-items : center;
    background-color:lavenderblush;
    font-family : monospace;
    font-size: 20px;
    width : 900px;
    border: 2px solid black;
}

td {
  border: 1px solid black;
  width: 100px;
  overflow: hidden;
}

td{
    text-align: center;
    font-size : 18px;
}

.comment{
    background-color : rgb(142, 144, 252);
    width : 230px;
    display : flex;
    flex-direction : column;
    align-items : left;
    padding : 10px;
}

.weekSelect form{
    background-color: rgb(245, 245, 245);
    padding : 5px;
}

.weekSelect input{
    background-color: rgb(142, 144, 252);
}

article a {
    text-decoration : none;
    color: white;
}

footer a {
    text-decoration : none;
    color: white;
    font-size : 30px;
}

#newevent{
    display : flex;
    flex-direction : column;
    align-items :center;
    text-align : center;
    font-family:monospace;
    justify-content: center;
    margin-top : -30px;
    text-decoration: none;
}

main a{
    text-decoration: none;
}

.planning a:visited{
    color:blue;
}

.addEvent{
    background-color : rgb(165, 166, 252);
    width : 300px;
    font-size : 20px;
    padding : 10px;
    border-top:3px solid #CCCCCC;
    border-right: 4px solid #666666;
    border-bottom: 4px solid #666666;
    border-left: 3px solid #CCCCCC;
}

.evlink:visited{
    color:white;
}
/*______________ Réservation ______________*/

.booking_container{
    display : flex;
    flex-direction : column;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size : 15px;
}

.booking_container form{
    display : flex;
    flex-direction : column;
    width : 200px;
    background-color:lavenderblush;
    padding: 10px;

}
.commentsA{
    display : flex;
    flex-direction : column;
    align-items : center;
    gap : 10px;
}
.commentA{
    background-color : rgb(142, 144, 252);
    width : 600px;
    display : flex;
    flex-direction : column;
    align-items : center;
    padding : 10px;
}

.desc{
    height : 100px;
    text-align : center;
}

.book{
    font-family : monospace;    
    font-size : 13px;
	border: none;
    display : flex;
    padding : 2px;
    margin-top: 20px;
    text-align: center ;
    justify-content: center; 
    background-color : rgb(228, 220, 252);

}

.book:hover{
    background-color : rgb(215, 195, 248);
}